@model RaceModel

<div class="row">
    <div class="col-sm-2">
        <input type="button" id="addRaceDistanceButton" onclick="addRaceDistanceButtonClick()" value="New distance" class="btn btn-light m-1" /><br />
        <input type="button" id="removeRaceDistanceButton" onclick="removeRaceDistanceButtonClick()" value="Remove distance" class="btn btn-light m-1" />
    </div>
    <div class="col-lg-10">
        <label asp-for="DistanceLengths">Distances (km)</label>
        <div class="form-row" id="distances-container">
            @if (Model != null && Model.DistanceLengths != null && Model.DistanceLengths.Count > 0)
            {
                foreach (var distance in Model.DistanceLengths)
                {
                    <div class="col col-sm-1">
                        <input type="number" id="DistanceLengths" name="DistanceLengths" value="@distance" class="m-2 form-control" />
                    </div>
                }
            }
            else
            {
                <div class="col col-sm-1">
                    <input type="number" id="DistanceLengths" name="DistanceLengths" class="m-2 form-control" />
                </div>
            }
        </div>
        <span asp-validation-for="DistanceLengths" class="text-danger"></span>
    </div>
</div>
