@using TeamManager.Manual.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Team Manager Application</title>
    <link rel="stylesheet" href="~/lib/bootstrap-4.3.1-dist/css/bootstrap.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-action="Index" asp-controller="Home">
                    <img src="~/img/green_riders_logo.jpg" width="45" height="45" alt="">
                    | Team Manager
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Races" class="nav-link">Races</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="MyResults" asp-controller="RaceResults" class="nav-link">My results</a>
                        </li>
                    </ul>
                </div>
                <nav class="navbar-nav">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <span class="nav-item">
                            User: @User.Identity.Name |  <a asp-action="Logout" asp-controller="Account">Logout</a>
                        </span>
                    }
                    else
                    {
                        <a asp-action="Login" asp-controller="Account" class="nav-item m-1">Login</a>
                        <a asp-action="Index" asp-controller="Registration" class="nav-item m-1">Register</a>
                    }
                </nav>
            </div>
        </nav>
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/lib/bootstrap-4.3.1-dist/js/bootstrap.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
