@model AddResultViewModel

@{
    ViewData["Title"] = "Add race result";
}

<h1>Race result</h1>
<hr />
<div class="text-danger" asp-validation-summary="ModelOnly"></div>
<div class="row">
    <form asp-action="Add" method="post">
        <div class="form-group">
            <label asp-for="Races">Race</label>
            <select asp-for="SelectedRaceId" asp-items="@Model.GetRaceSelectList" class="form-control"></select>
            <span asp-validation-for="SelectedRaceId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AbsoluteResult">Absolute result</label>
            <input asp-for="AbsoluteResult" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="CategoryResult">Category result</label>
            <input asp-for="CategoryResult" class="form-control" />
            <span asp-validation-for="CategoryResult" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="IsTakePartAsDriver">I was driver</label>
            <input type="checkbox" asp-for="IsTakePartAsDriver" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="IsTakePartAsStaff">I was staff</label>
            <input type="checkbox" asp-for="IsTakePartAsStaff" class="form-control" />
        </div>
        <input type="submit" value="Save" class="btn btn-primary m-1" />
        <a asp-action="Index" asp-controller="Races" class="btn btn-outline-primary m-1">Back to races</a>
    </form>
</div>
