@model AddResultViewModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Add race result"];
}

<div class="m-2">
    <h1>@Localizer["Add race result"]</h1>
    <hr />
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <div class="row">
        <form asp-action="Add" method="post" enctype="multipart/form-data">
            @await Html.PartialAsync("_AddRaceResultPartial")
            <input type="submit" value="@Localizer["Save"]" class="btn btn-primary m-1" />
            <a asp-action="Index" asp-controller="Races" class="btn btn-outline-primary m-1">@Localizer["Back to races"]</a>
        </form>
    </div>
</div>
