@model RaceEntry

<h1>Create new race entry</h1>

<form asp-action="Add" method="post">
    <div>
        Race name:
        <input type="text" asp-for="RaceName" />
    </div>
    <div>
        Rider name:
        <input type="text" asp-for="RiderName" />
    </div>
    <input type="submit" value="add" />
</form>

