@model Dictionary<string, IList<string>>

<h1>Race Entries</h1>

<a asp-action="Add">Create new</a>

@if(Model != null && Model.Count > 0)
{
    <div>
        <table>
            <thead>
                <tr>
                    <td>Race</td>
                    <td>Rider</td>
                </tr>
                <tr>Rider</tr>
            </thead>
            @foreach (var raceRiderPairs in Model)
            {
                @foreach (var rider in raceRiderPairs.Value)
                {
                    <tr>
                        <td>@raceRiderPairs.Key</td>
                        <td>@rider</td>
                    </tr>
                }
            }
        </table>
    </div>
}

