
@{
    ViewData["Title"] = "Create role";
}

<h1>Create new role</h1>
<hr />
<div class="row">
    <form method="post">
        <div class="form-group">
            <label>Role name</label>
            <input type="text" name="roleName" id="roleName" class="form-control" required />
        </div>
        <input type="submit" value="Save" class="btn btn-primary" />
    </form>
</div>

