@using Microsoft.Extensions.Configuration
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Successful registration"];
}

<h1>@Localizer["Successful registration"]</h1>
@if (Configuration.GetValue<bool>("UseAdminRestrictionForNewUsers"))
{
    <h3>@Localizer["Thank you for your registration, after an administrator verified you, you can log in. You will be notified via e-mail."]</h3>
}
else
{
    <h3>@Localizer["Thank you for your registration, now you can"] <a asp-action="Login" asp-controller="Account">@Localizer["log in"]</a></h3>
}
