
@{
    ViewData["Title"] = "Registration success";
}

<h1>Successful registration</h1>
<h3>Thank you for your registration, now you can <a asp-action="Login" asp-controller="Account">log in</a>.</h3>
