@model RaceModel
@using TeamManager.Manual.Data

@{
    ViewData["Title"] = $"Edit - {Model.Name}";
}

<h1>Edit race</h1>
<hr />
<form method="post" asp-action="Edit">
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    @await Html.PartialAsync("_RaceFieldsPartial", Model)
    <hr />
    <div class="row">
        <div class="col-md">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-link">Back to races</a>
        </div>
    </div>
</form>

@section Scripts {
    <script type="text/javascript" src="~/js/Distances.js"></script>
}

