@{ 
    ViewBag.Title = "Home";
}

<div class="row mt-2">
    <div class="col-lg-12 text-center">
        <div class="align-content-center">
            <img src="~/img/green_riders_logo.jpg" alt="Emil Hegyi's photo" width="300" height="300">
            <h1 class="card-title">Üdvözlünk a Green Riders oldalán!</h1>
            <p class="card-text">Ez a rendszer a tagoknak készült, kizárólag belső használatra. Amennyiben szeretnél hozzánk csatlakozni, kattints a kapcsolatfelvétel gombra!
            Amennyiben csapattag vagy, a jobb felső sarokban a 'Belépés'-re kattintva tudsz ügyeket intézni.</p>
            <a href="#" class="btn btn-primary">Kapcsolatfelvétel</a>
        </div>
    </div>
</div>