
@{
    ViewData["Title"] = "Forgot password";
}

<h1>Forgot password</h1>
<span>To reset your password, please give the e-mail address you registered with and we will send you a password reset token.</span>
<hr />
<div class="col-md-4">
    <form asp-action="ForgotPassword" method="post">
        <div class="form-group">
            <label>E-mail address</label>
            <input type="text" name="email" class="form-control" />
        </div>
        <input type="submit" value="Reset" class="btn btn-primary" />
    </form>
</div>
