@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Successful reset request"];
}

<h1>@Localizer["Successful reset request"]</h1>
<div class="alert-success">@Localizer["We have sent you an e-mail where you can reset your password."]</div>
